<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Colorful.Console" version="1.2.15" targetFramework="net48" />
  <package id="Google.Protobuf" version="3.23.3" targetFramework="net48" />
  <package id="Leaf.xNet" version="5.2.10" targetFramework="net48" />
  <package id="Mail.dll" version="3.0.23156.1704" targetFramework="net48" />
  <package id="MlkPwgen" version="0.3.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="protobuf-net" version="3.2.26" targetFramework="net48" />
  <package id="protobuf-net.Core" version="3.2.26" targetFramework="net48" />
  <package id="RandomNameGenerator" version="1.0.4" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="7.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
</packages>